body
{
    background-color: #000000;
    color: lightgray;
    font-size: 28px;
}
#container
{
    width: 900px;
    margin-left: auto;
    margin-right: auto
}
#sentence
{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    min-height: 60px;
}
#gallows
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}
#alphabet
{
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}
.letter
{
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    border-radius: 15px;
    float: left;
    cursor: pointer;
}
.letter:hover
{
    background-color: #222222;
    color: white;
    border: 3px solid white;
}

.goodLetter
{
	background: #003300;
	color: #00C000;
	border: 3px solid #00C000;
	cursor: default;
}

.wrongLetter
{
	background: #330000;
	color: #C00000;
	border: 3px solid #C00000;
	cursor: default;
}

.reset
{
	color: green;
	cursor: pointer;
	font-size: 30px;
}

.reset:hover{
	color:white;
}
